modules = ["python-3.12"]
run = ["python3", "OOP Game Escape/main.py"]

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "[\"python3\", \"OOP Game Escape/main.py\"]"]

[workflows]
runButton = "Run OOP Game Escape"

[[workflows.workflow]]
name = "Run OOP Game Escape"
author = 33498382
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 \"OOP Game Escape/main.py\""

[agent]
expertMode = true
